body, html {
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
    font-family: Helvetica, sans-serif;
    background-color: white;
}

h1 {
    margin-top: 20px;
    padding: 0;
    color: black;
    text-align: center;
}

.nav_bar {
    background-color: #4b2e83;
    overflow: hidden;
    top: 0;
    width: 100%;
    position: sticky;
    z-index: 1000;
}

.nav_bar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav_bar a:hover {
    background-color: #b7a57a;
}

footer {
    background: #222;
    color: white;
    padding-bottom: 10px;
    font-family: Arial, sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: auto;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin-left: 25px;
    margin-right: 5px;
}

.footer-section h2 {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}

.footer-section img {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer-section p, .footer-section ul {
    font-size: 14px;
    text-align: center;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
    color: white;
    font-size: 20px;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid gray;
    font-size: 14px;
}

/* Responsive */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .social-icons a {
        margin: 5px;
    }
}

.main_content {
    margin: 20px;
}

.homepage_image {
    width: 100%;
    height: auto;
    display: block;
}

.research_display {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.research_card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    font-size: 16px;
    color: #333;
    display: flex;
}

.research_card:hover {
    background-color: #b7a57a;
}

.research_thumbnail {
    width: 85%;
    height: auto;
    border-radius: 5px;
    vertical-align: middle;
    margin-top: 25px;
}

.research_image {
    width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 5px;
}

.workshop_image {
    height: 100px;
    vertical-align: middle;
    border-radius: 5px;
}

.research_persons {
    font-size: 12px;
}

.research_paper_button {
    background-color: #4b2e83;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: flex;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
}

.research_paper_button:hover {
    background-color: #3d1f6b;
}

.research_code_button {
    background-color: #4b2e83;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: flex;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
}

.research_code_button:hover {
    background-color: #3d1f6b;
}

.research_paper_content_card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px;
    width: 600px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    font-size: 16px;
    color: #333;
}

.research_layout_row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.research_header {
    font-size: 16px;
    margin: 20px;
    text-align: center;
}

.project_layout_row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project_header {
    font-size: 16px;
    margin: 20px;
    text-align: center;
}

.project_content_card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px;
    width: 600px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    font-size: 16px;
    color: #333;
}

.project_clients {
    font-size: 18px;
}

.project_display {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project_card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    font-size: 16px;
    color: #333;
    display: flex;
}

.project_card:hover {
    background-color: #b7a57a;
}

.project_thumbnail {
    width: 85%;
    height: auto;
    border-radius: 5px;
    vertical-align: middle;
    margin-top: 25px;
}

.project_image {
    width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 5px;
}


.clinic_row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.clinic_card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    font-size: 16px;
    color: #333;
    text-decoration: none;
}

.clinic_card:hover {
    background-color: #b7a57a;
}

.clinic_image {
    width: 97px;
    height: 97px;
    vertical-align: middle;
    border-radius: 5px;
    opacity: 0.85;
}

.clinic_button {
    background-color: #4b2e83;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px;
    width: 100%;
}

.clinic_card_text_div {
    text-align: center;
    margin-top: 10px;
    height: 100px;
}

.button_text {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.homepage_widgets {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.widget_card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    font-size: 16px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
label {
    font-weight: bold;
}
input, select, textarea, button {
    padding: 10px;
    font-size: 16px;
}
button {
    background-color: #4b2e83;
    color: white;
    border: none;
    cursor: pointer;
    max-width: 400px;
    border-radius: 5px;
    align-self: center;
}
button:hover {
    background-color: #0056b3;
}

#message {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Basic styling for the carousel container */
.carousel {
    width: 100%;
    max-width: 750px; /* Adjust the width */
    position: relative;
    margin: 0 auto; /* Center the carousel */
    overflow: hidden; /* Hide anything outside the container */
  }
  
  /* Styling for the carousel items container */
  .carousel-items {
    display: flex; /* Arrange items horizontally */
    transition: transform 0.5s ease; /* Smooth sliding transition */
  }
  
  /* Styling for each individual carousel item */
  .carousel-item {
    flex-shrink: 0; /* Prevent the items from shrinking */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;  /* Set the height */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    font-size: 16px;
    color: #333;
    text-decoration: none;
  }
  
  /* Styling for the previous and next buttons */
  .carousel-prev, .carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 24px;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
  }
  
  .carousel-prev {
    left: 10px;
  }
  
  .carousel-next {
    right: 0px;
  }  

  .carousel-pagination {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    color: #333;
  }

  .contact_page_button {
    background-color: #4b2e83;
    color: white;
    padding: 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    border-radius: 5px;
    width: 250px;
}
